* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

body {
    background: rgb(27, 27, 27);
}

header {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: auto;
    background-size: cover;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/* BARRA DE NAVEGACION*/
.logo {
    float: left;
    padding: 5px 20px 0;
}

.logo img {
    height: 70px;
}

.logo img:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: auto;
}

nav {
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
    top: 0;
}

nav ul a {
    color: rgb(209, 204, 204);
    font-size: 20px;
    padding: 10px 40px;
    display: block;
    text-decoration: none;
    position: relative;
}

nav ul a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: rgb(255, 30, 30);
    border-radius: 4px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

nav ul a:hover::before {
    color: #ffc549;
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
}

nav ul a:hover {
    color: #ffc549;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*PELICULAS*/
.imagenfondo1 {
    background-image: url(../img/gato_con_botas2.png);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo8 {
    background-image: url(../img/joker.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo9 {
    background-image: url(../img/BV.jpeg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo10 {
    background-image: url(../img/shan-chi2.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo11 {
    background-image: url(../img/black2.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo12 {
    background-image: url(../img/carnage2.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo13 {
    background-image: url(../img/unchar2.jpeg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo14 {
    background-image: url(../img/spider.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo15 {
    background-image: url(../img/lut.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo16 {
    background-image: url(../img/resi2.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo17 {
    background-image: url(../img/enma.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo18 {
    background-image: url(../img/manda.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo19 {
    background-image: url(../img/snapshot-1590663760.jpeg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo20 {
    background-image: url(../img/dhfffdffffd.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo21 {
    background-image: url(../img/ththhhhhhhhhhhhhhhhh.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo22 {
    background-image: url(../img/aaaaantamansss.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}

.imagenfondo23 {
    background-image: url(../img/DYYRWI3I3ZNKBN5T76KNYXODEE.jpg);
    background-color: rgba(255, 255, 255, 0.027);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;
}


















.imagenfondo2 {
    background-image: url(../img/the-whale-brendan-fraser-1666613.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top center;

}

.colum {
    padding: 7px 7px 7px 7px;
    color: #ffffff;
    opacity: 1;
}

.conteimg {
    width: 18%;
    height: auto;
    padding: 5px;
    margin: 0px 0px 0px 185px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.vid {
    background: rgb(27, 27, 27);
    padding: 15px;
    margin: auto;
    width: 100%;
    height: auto;
}

.vid iframe {
    width: 99%;
    border: 2px solid #ffffff;
}

.boton {
    background-color: #ffffff;
    color: rgb(218, 11, 11);
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px #555555;

}

.boton:hover {
    opacity: 0.9;
}

.boton:active {
    background-color: #e07109;
}

@media screen and (max-width: 319px) {
    .conteimg {
        width: 50%;
        height: auto;
        padding: 5px;
        display: flex;
        margin: 0px 0px 0px 50px;
    }

    .colum {
        margin: 0px 0px 0px 50px;
        display: block;
        overflow: hidden;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .conteimg {
        width: 50%;
        height: auto;
        padding: 5px;
        display: flex;
        margin: 0px 0px 0px 100px;
    }

    .colum {
        margin: 0px 0px 0px 100px;
    }
}

@media screen and (max-width: 599px) and (min-width: 481px) {

    .conteimg {
        width: 36%;
        height: auto;
        padding: 5px;
        display: flex;
        margin: 0px 0px 0px 10px;
    }
}

@media screen and (max-width: 768px) and (min-width: 600px) {

    .conteimg {
        width: 46%;
        height: auto;
        padding: 5px;
        display: flex;
        margin: 0px 0px 0px 10px;
    }
}

@media screen and (max-width: 967px) and (min-width: 769px) {

    .conteimg {
        width: 24%;
        height: auto;
        padding: 5px;
        display: flex;
        margin: 0px 0px 0px 125px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 968px) {

    .conteimg {
        width: 30%;
        height: auto;
        padding: 5px;
        margin: 0px 0px 0px 60px;
        display: flex;
    }

}

@media screen and (max-width: 1200px) and (min-width: 1025px) {

    .conteimg {
        width: 26%;
        height: auto;
        padding: 5px;
        margin: 0px 0px 0px 125px;
    }
}

@media screen and (min-width: 1201px) {
    .conteimg {
        width: 18%;
        height: auto;
        padding: 5px;
        margin: 0px 0px 0px 185px;
    }
}